<form [formGroup]="placeForm">
    <mat-form-field>
      <input type="text"
             matInput
             placeholder=" Selecciona una ciudad "
             formControlName="placeGroup"
             required
             [matAutocomplete]="autoGroup">
        <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)='updateData($event.option.value)'>
          <mat-optgroup *ngFor="let place of placesGroupOptions | async" [label]="place.letter">
            <mat-option *ngFor="let name of place.names" [value]="name">
              {{name}}
            </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </form>