<div id="Info">
  <mat-card class="card">
      <mat-card-header>
        <mat-card-title id="Title"></mat-card-title>
        <mat-card-subtitle id="Subtitle"></mat-card-subtitle>
      </mat-card-header>
      <div id = "Image"></div>
      <mat-card-content>
        <h3 id="Temp"></h3>
        <h4 id="TempMax"></h4>
        <h4 id="TempMin"></h4>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="showMoreInfo()">Más información</button>
      </mat-card-actions>
    </mat-card>
</div>